@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    background-color: #1A0B2E;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    p{
        color: rgba(245, 244, 244, 0.751);
    }
}


.font-white {
    color: white;
}


.primary-btn {
    font-weight: 600px;
    color: white;
    background-image: linear-gradient(48deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    border-radius: 1000px;
    padding: 12px 16px;
    border: none;
    width: 200px;

}

.display-flex {
    display: flex;
}

/* navber style */
nav ul li {
    list-style: none;
    font-weight: 500px;
}

nav ul {
    gap: 32px;
}

nav {
    width: 80vw;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    color: white;
}

#hamburger-menu {
    display: none;
}




.banner {
    max-width: 1600px;
    position: relative;
    width: 100%;
    height: 700px;
    margin-bottom: 300px;
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 auto;
    z-index: 1;
    margin-bottom: 100px;

}

.banner-bg-2,
.banner-bg-3,
img {
    max-width: 100%;
    height: auto;
}

.banner-bg-1,
.banner-bg-2,
.banner-bg-3 {
    position: absolute;
}

.banner-bg-2 {
    z-index: 2;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@keyframes vibration {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(4deg);}
    50% { transform: rotate(0deg);}
    75% { transform: rotate(4deg);}
    100% { transform: rotate(0deg);}
}
.banner-bg-3 {
    z-index: 3;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#badge {
    background-color: #00FF88;
    padding: 8px 16px;
    border-radius: 1000px;
    font-size: 1.2rem;
    font-weight: 600;
    position: absolute;
    margin-top: -240px;
    margin-left: 130px;
    border: none;
    animation: vibration 1s ease-in-out 1s infinite alternate;

}

.banner-content {
    width: 100%;
    position: absolute;
    margin-top: 500px;
    text-align: center;
    z-index: 55;
}

.banner-content h2 {
    color: white;
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-content p {
    color: white;
    margin-bottom: 50px;
}

.banner-btn {
    gap: 10px;
    justify-content: center;
}

#message-btn {
    background-color: transparent;
    border: none;
    color: #00FF88;
}

.transparent-btn {
    font-weight: 600px;
    border-radius: 1000px;
    padding: 12px 16px;
    border: none;
    background-color: transparent;
    border: 1px solid #00FF88;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#left-btn button {
    background-color: transparent;
    border: none;
}

#left-btn {
    gap: 10px;
}




.podcast-section {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.podcast-section-content h2 {
    font-size: 3rem;
    font-weight: 700;
}

.podcast-section-content p {
    line-height: 20px;
    margin: 20px 0 20px;
}


.podcast-cards {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 100px 0 80px;
}





.choose-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}

.podcast-card-title {
    font-size: 3rem;
    font-weight: 800;
    color: #00FF88;
}



.choose {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 120px;
}

.choose h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 50px;
}



#choose-card h3 {
    font-size: 1.50rem;
    margin-bottom: 16px;
    margin-top: 20px;
}

#choose-card {

    padding: 30px;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
}

#choose-card p {
    line-height: 24px;
}

.choose-card-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.choose-card-2 {
    grid-column: 2 / 4;
}

.choose-card-3 {
    grid-column: 2 / 4;
}

.choose-card-4 {
    grid-column: 1 / 3;
}




.fetured-section {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.fetured-section >h2{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

.fetured-card-section {
    display: flex;
    gap: 20px;
}

.fetured-card {
    max-width: 380px;
    border-radius: 24px 24px 24px;
    background-color: rgba(53, 17, 101, 0.4);
    overflow: hidden;
    position: relative;
}

.fetured-card iframe {
    border-radius: 24px;
    width: 100%;
    height: 214px;
}

.fetured-card-content {
    padding: 24px;
}

.fetured-card-content h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 12px;
    margin-bottom: 20px;
}

.fetured-card-content p {
    line-height: 24px;
}
#time-duration{
    color: #00FF88;
    display: flex;
    gap: 7px;
    margin-top: 20PX;
}
#time-duration p{
    color: #00FF88;
}

#time-duration img{
    width: 20px;
}
.meet-section{
    margin: 0 auto;
    margin-bottom: 100px;
}

#host-meet{
    padding: 40px;
    border-radius: 40px;
    margin-top: 30px;
}

#host-meet p{
    margin-bottom: 20px;
}

.footer-section{
    max-width: 1600px;
    height: auto;
    margin: 0 auto;
    background-image: url(./assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem;
    gap: 35px;
}
#footer-logo{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }





@media screen and (max-width: 576px) {
    #nav-list {
        display: none;
    }

    #subscribe-btn {
        display: none;
    }

    #hamburger-menu {
        display: inline;
    }

    #badge {
        position: absolute;
        margin-top: -180px;
        margin-left: 130px;
    }

    .podcast-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .choose-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .choose-card-1,
    .choose-card-2,
    .choose-card-3,
    .choose-card-4,
    .choose-card-5 {
        grid-column: auto;
        grid-row: auto;
    }
    .fetured-card-section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #host-meet{
        flex-direction: column;
    }
    #footer-logo{
        grid-template-columns: repeat(2, 1fr);
    }

}